*{
    margin: 0;
    padding: 0;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; 
    padding: 10px 0px;
}
.nav-bar img {
    width: 110px;
    border-radius: 20px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 15px;
    color: white;

}
.nav-links a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0 5px;

}


.hero {
    background-image: url(../images/landing-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: 100vh;
    color: white;
    align-content: center;
    justify-content: center;
    height: 100vh;
    text-align: center; 
}
.hero h1 {
    font-size: 5rem;
}
.hero p {
    font-size: 2rem;
}
.hero button:first-child {
background-color: blueviolet;
  padding: 15px 45px;
  color: white;
  font-size: 0.9rem;
  border: none;
  text-transform: uppercase;
  width: fit-content;
  border-radius: 15px;
}
.hero button:last-child {
  background-color: transparent;
  padding: 15px 50px;
  color: white;
  font-size: 0.9rem;
  border-width: 2px;
  border-color: white;
  text-transform: uppercase;
  /*border: 4px solid white;*/
  margin: 5px;
  border-radius: 15px;
}
.nav-button button:hover {
    background-color: #310064;
    cursor: grab;
}
.full-stop {
    font-size: 7rem;
    color: blueviolet;
}