* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 40px;
}
.nav-bar img {
  width: 110px;
  border-radius: 20px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 15px;
  color: white;
}
.nav-links a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 5px;
}

.hero {
  background-image: url(../images/landing-page.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 100vh;
  color: white;
  align-content: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.hero h1 {
  font-size: 5rem;
}
.hero p {
  font-size: 2rem;
}
.hero button:first-child {
  background-color: blueviolet;
  padding: 15px 45px;
  color: white;
  font-size: 0.9rem;
  border: none;
  text-transform: uppercase;
  width: fit-content;
  border-radius: 15px;
}
.hero button:last-child {
  background-color: transparent;
  padding: 15px 50px;
  color: white;
  font-size: 0.9rem;
  border-width: 2px;
  border-color: white;
  text-transform: uppercase;
  /*border: 4px solid white;*/
  margin: 5px;
  border-radius: 15px;
}
.nav-button button:hover {
  background-color: #310064;
  cursor: grab;
}
.full-stop {
  font-size: 7rem;
  color: blueviolet;
}
.feature {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 200px;
  height: 70vh;
}

.feature p {
  row-gap: 4rem;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1.1rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  color: black;
  row-gap: 3rem;
  background: #DADADA;
  font-size: 2rem;
  font-weight: bolder;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.grid-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.progress-item {
  width: 30%;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
}

.progress {
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.typography .progress {
  background-color: #640063;
}

.design .progress {
  background-color: #784d7d;
}

.development .progress {
  background-color: #6b5b95;
}

.tooltip {
  position: absolute;
  top: -25px;
  right: 0;
  background-color: #9c0457;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
}

.label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

.testimonial {
  background-image: url(../images/tb.png);
  height: 80vh;
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
 
}
.mini-testimonial {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}
.testimonial-box {
  background-color: #A47796;
    color: white; 
    padding: 20px;
    width: 90%;
    margin: 15px auto; 
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    max-width: 600px;
}
.testimonial h1 {
  font-size: 2rem;
  padding-top: 10px;
  color: white;
}
.testimonial img {
  border-radius: 50%;
}

.testimonial h2 {
  color: white;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    padding: 20px;
    row-gap: 2rem;
}

.services-header {
    grid-column: 1 / -1; /* Make the header span across all columns */
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
}

.service {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.7;
}
.service h1 {
    color: #8A2BE2;
}
